body {
  font-family: 'Titillium Web', sans-serif;
  font-size: 17px;
  color: #333333;
}

a {
  color: #2D607F;
}

a:hover {
  color: #0A82CC;
  text-decoration: none;
}

.container {
  max-width: 970px;
}

.site-header .site-title {
  font-size: 42px;
  color: #2D607F;
  padding-top: 50px;
  padding-bottom: 70px;
  border-bottom: solid 1px #DDDDDD;
}

.centered-pills { text-align:center; }
.centered-pills ul.nav-pills { display:inline-block; }
.centered-pills li { display:inline; }
.centered-pills a { float:left; }
* html .centered-pills ul.nav-pills { display:inline; } /* IE6 */
*+html .centered-pills ul.nav-pills { display:inline; } /* IE7 */

.site-menu .nav-pills li a {
  background-color: #FFFFFF;
  color: #2D607F;
  padding-top: 0px;
  padding-bottom: 5px;
}

.site-menu .nav-pills li a:hover {
  background-color: #FFFFFF;
  color: #0A82CC;
}

.site-menu .nav-pills .active a {
  border-bottom: solid 3px #2D607F;
  border-radius: 0px;
}

.site-body {
  padding-top: 30px;
}

.post {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: solid 1px #DDDDDD;
}

.post h1 {
  font-size: 22px;
  font-weight: bold;
  padding-bottom: 5px;
  margin-bottom: 0px;
  padding-top: 0px;
  margin-bottom: 0px;
}

.post h1 small {
  line-height: 22px;
  vertical-align: middle;
}

.tag-theory {
  background-color: #d9534f;
}

.tag-data-science {
  background-color: #f0ad4e;
}

.papers a {
  font-weight: bold;
}

.post .post-header {
  padding-bottom: 30px;
}

.post .post-header h1 {
  font-size: 40px;
}

.site-footer {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.post-content h1 {
  font-size: 30px;
}

.front {
  max-width: 300px;
}