<center>
<h1>
  <a href="https://github.com/igorbonadio"><i class="fa fa-github" aria-hidden="true"></i></a>
  <a href="https://www.linkedin.com/in/%C3%ADgor-bonadio-9b59a95a"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
</h1>
</center>
<div class="site-footer">All content copyright Ígor Bonadio © 2016 - All rights reserved.</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/js/bootstrap.min.js"></script>

<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-33102652-1']);
_gaq.push(['_setDomainName', 'igorbonadio.com.br']);
_gaq.push(['_trackPageview']);
(function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>