<div class="site-header">
  <h1 class="site-title text-center">Ígor Bonadio</h1>
  <div role="navigation" class="site-menu centered-pills">
    <ul class="nav nav-pills">
      <li role="presentation" {% if page.section == 'blog' %} class="active" {% endif %}>
        <a href="/index.html">Blog</a>
      </li>
      <li role="presentation" {% if page.section == 'publications' %} class="active" {% endif %}>
        <a href="/publications.html">Publications</a>
      </li>
      <li role="presentation" {% if page.section == 'projects' %} class="active" {% endif %}>
        <a href="/projects.html">Projects</a>
      </li>
      <li role="presentation" {% if page.section == 'presentations' %} class="active" {% endif %}>
        <a href="/presentations.html">Presentations</a>
      </li>
      <li role="presentation" {% if page.section == 'about' %} class="active" {% endif %}>
        <a href="/about.html">About</a>
      </li>
    </ul>
  </div>
</div>